.Logo {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #009551;
  font-size: 22px;
  line-height: 50px;
  width: 230px;
  flex-shrink: 0;
  cursor: pointer;
  transition: width 0.3s ease-out;
}

.Logo-Collapsed {
  width: 50px;
  text-align: center;
}

.Logo-Collapsed span {
  display: none;
}
