.SideBar {
  min-width: 230px;
  max-width: 230px;
  min-height: calc(100vh - 50px);
  background-color: #fafafa;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease-out;
  border-right: 1px solid #ddd;
}

.SideBar .Items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.SideBar a {
  padding-left: 15px;
  color: #444;
}

.SideBar-Collapsed {
  min-width: 50px;
  max-width: 50px;
  text-align: center;
}

.SideBar-Collapsed span {
  display: none;
}

.SideBar-Collapsed a {
  padding-left: 0; 
}
