.NavItem a {
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}

.NavItem span {
  margin: 0 5px;
}

.NavItem a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.NavItem a.active {
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 4px solid #00a65a;
}
